# 1С 7.7 Database Configuration
DB_PATH_77=D:\\Base77
DB_USER_77=Admin
DB_PASSWORD_77=

# 1С 8 OData Configuration
ODOO_1C8_URL=http://localhost:8080/hs/odata
ODOO_1C8_USER=user
ODOO_1C8_PASSWORD=password
ODOO_1C8_PUBLISHED_URL=http://localhost:8080

# Server Configuration
HOST=0.0.0.0
PORT=8100
